:root {
    --color-primary: #7380ec;
    --color-danger:#1f0dc2;
    --color-success:#41f1b6;
    --color-warning:#ffcd73;
    --color-white:#fff;
    --color-info-dark:#113a6d;
    --colo-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    
    --card-border-radius:2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow:0 2rem 3rem var(--color-light);

}
 /* side bar */
* {
    margin:0;
    padding:0;
    outline:0;
    appearance:none;
    border:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}
html {
    font-size: 14px;
}

body {
     width: 100vw;
     height: 100vh;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 0.88rem;
     background: var(--color-background);
     user-select: none;
     overflow-x: hidden;
     color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
    text-align: center;
    font-family: system-ui;
    background: cornflowerblue;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    width: 607px;

}
.h1:hover{
    box-shadow: none;
}

h2 {
    font-size:1.4rem;
}

h3 { 
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small{
     font-size: 0.75rem;
}
.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
   color: var(--color-info-dark); 
} 
 p {
    color: var(--color-dark-variant);
 }

 b {
    color: var(--color-dark);
 }

 .priamry {
    color:var(--color-danger);
 }

 .danger {
    color:var(--color-danger);
 }

 .success{
    color:var(--color-success);
 }

 .warning {
    color:var(--color-warning);
 }

aside {
    height: 100vh;
    background: gray;
}

aside .top {
    background: var(--color-dark-variant);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
 }

 aside .logo {
    display: flex;
    gap: 0.8rem;
 }

 aside .logo img {
    width: 6rem;
    height: 4rem;
 }

 aside .close {
    display: none;
 }

 aside .sidebar {
    background: whith;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position:relative;
    top:3rem
 }

 aside h3{
    font-weight: 500;
 }

 aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition:all 300ms ease ;
 }

 aside .sidebar a span {
       font-size: 1.6rem;
       transition: all 300ms ease;
 }

 aside .sidebar a:last-child{
       position: absolute;
       bottom:2rem;
       width: 100%;
 }

 aside .sidebar a.active {
    background: var(--color-dark-variant);
    color: var(--color-info-dark);
    margin-left:0;
 }

 aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
 }

 aside .sidebar a.active span {
    color:var(--color-primary);
    margin-left: calc(1rem - 3px);
 }

 aside .sidebar a:hover {
    color: var(--color-primary);
 }

 aside .sidebar a:hover span {
    margin-left: 1rem;
 }

 /* end sidebar */


/*main*/
main{
    margin-top: 1.4rem;
}

main.date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-2);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    background-color: #677483;
}

main .date input[type="date"]{
     background: transparent;
     color: var(--color-dark);
     background: #72232361;
     border-radius:var(--card-border-radius);
     font-size: large;
     font-family: fantasy;
     padding: 1%;
     box-shadow: var(--box-shadow);
     transition: all 300ms ease;
}

.date input[type="date"]:hover{
    box-shadow: none;
} 

main .insights{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap:1.6rem;
}
.insights{
    display:flex;
    flex-direction:column;
    align-items: center;
}

main .insights > div{
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  width: 175%;
}

main .insights > div:hover{
  box-shadow: none;
}



.right {
    margin-top: 32.4rem;
    background: var(--color-white);
    padding:var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.right:hover{
    box-shadow: none;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
    background: transparent;
}

.right .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius:var(--border-radius-1);
}

.right .theme-toggler span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

main .insights .tableau-employee{
    margin-top: 2rem;
}

/* tableau*/

table{
background-color: var(--color-white);
width: 100%;
border-radius: var(--card-border-radius);
padding: inherit;
text-align: center;
transition: all 300ms ease;
margin-top: 3%;
}

main table tbody td{
    height:4.8rem;
    border-bottom: 1px solide var(--color-light);
}

main table tbody tr:last-child{
border:black;

}
main table tbody tr{
    font-family: Arial, Helvetica, sans-serif;
}
main table thead tr{
    background-color: #f5f5f5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}

/* Styles généraux des boutons */
.btn {
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 8px;
    margin: 0 5px;
}

/* Bouton Modifier */
.btn.modifier {
    background-color: blue;
    transition: background-color 0.3s;
}

.btn.modifier:hover {
    background-color: darkblue;
}

/* Bouton Supprimer */
.btn.supprimer {
    background-color: red;
    transition: background-color 0.3s;
}

.btn.supprimer:hover {
    background-color: darkred;
}

/*la fin du table */
.btn.ajouter{
    background-color: forestgreen;
}
.btn.ajouter:hover{
    background-color: darkslategray;
}

/*dark theme*/
dark-theme-variables {
--color-background: #181a1e;
--color-white: #202528;
--color-dark: #edeffd;
--color-dark-variant: #a3bdcc;
--color-light: rgba(0, 0, 0, 0.4);
--box-shadow: 0 2rem 3rem var(--color-light);
}
